
<!-- articles -->
<article class="clearfix">
    <!-- article title -->
    <h2>THE VALUE OF MONEY</h2>
    <!-- article image and caption -->
    <figure class="articles">
        <img src="img/article1.jpg" alt="car"><a></a>
        <figcaption>Luxury problem</figcaption>
    </figure>
    <!-- content citiation : https://www.debtcanada.ca/library/money-management/87-money-issues-and-relationships -->
    <p>In today’s economically driven world, money is becoming an increasingly important issue in human relationships. Relationships are much more complex than a bank statement; however, money is a main source of anxiety for many couples.</p>
    <p>There is little doubt that money issues affect many marriages and are a major cause of marital breakdown. In 1995, there were 10,400 divorces in B.C. alone. Family counsellors and employee assistance professionals agree that 40% of the time, money issues are the most significant factor in why marriages fail. In 1998, the Vanier Institute provided statistical evidence that all families were losing, not gaining financial freedom in the 1990’s. They reported that 54% of all Canadians were finding it harder to make ends meet.</p>
    <p>Further research in 1999 has confirmed that money issues create anger in families. Sixty-seven percent of the arguments between spouses concern money issues, creating an environment of hostility between partners and their families. 80% of all families worry about money issues on a regular day-to-day basis, which adds to the anxiety of daily life. An unbelievable 100% of the people surveyed agreed that it is actually possible to have a good income and still experience poverty. </p>
</article>
<article class="clearfix">
    <!-- article title -->
    <h2>GMO FOODS</h2>
     <!-- article image and caption -->
    <figure class="articles">
        <img src="img/article2.jpg" alt="food">
        <figcaption>Genetically Modified</figcaption>
    </figure>
     <!-- content citiation : https://learn.genetics.utah.edu/content/science/gmfoods/ -->
    <p>For thousands of years, humans have been genetically enhancing other organisms through the practice of selective breeding. Look around you: the sweet corn and seedless watermelons at the supermarket, the purebred dogs at the park, and your neighbor's prize rosebush are all examples of how humans have selectively enhanced desirable traits in other living things.</p>
    <p>The type of genetic enhancement that generates the most concern goes a step beyond selective breeding, however. Technology now allows us to transfer genes between organisms. For example, the tomato plant's beetle resistance relies on a gene from a bacterium (Bacillus thuringiensis), which scientists inserted into the tomato plant's genome. This gene, calledcry1Ac, encodes a protein that is poisonous to certain types of insects, including the beetle.</p>
</article>
<article class="clearfix">
    <!-- article title -->
    <h2>THE VIEW OF THE WORLD IN 2100</h2>
     <!-- article image and caption -->
    <figure class="articles">
        <img src="img/article3.jpg" alt="future city">
        <figcaption>Future city</figcaption>
    </figure>
    <!-- content citiation : https://www.popularmechanics.com/technology/infrastructure/a22824579/city-future-2045/ -->
    <p>Back in the 2020s, the tech industry started talking about transportation as a service (TaaS). Instead of owning and operating your own car or even your own bicycle, you told an app where you needed to go, then used a network of shared wheeled things to get there. What started with companies like Lyft and Uber led to Ryde, the company that won the TaaS war in U.S. cities.</p>
    <p>After decades of controversies and fatalities, we’re still years away from completely eliminating the need for a human behind the wheel, but leaps in autonomous driving technology led to one specific advantage that Ryde is now deploying: When the vehicle operator (VO) ends their shift and there are no occupants, vehicles can safely deliver themselves to recharging and cleaning warehouses. Before this level of autonomy, the VO had to park conveniently close to home, taking up space in already congested areas. Now that the vehicle can move itself, it can be idle conveniently far away from a city center. After cleaning and recharging, the car finds the VO, then places itself strategically close to passengers headed to a common destination.</p>
    <p>Ryde sells itself as “multi-modal,” which means that if the roadways fail due to traffic, you have alternatives. Depending on your route, Ryde may direct you to one of its bicycles that will get you to a ferry, then another bicycle that takes you home. For traveling farther, there are supersonic flights and subterranean trains, but those methods remain expensive and inflexible. Ryde makes slower travel so accommodating to productivity and leisure that most passengers consider the travel time almost inconsequential. For the urbanite holdouts with a car subscription, we, too, hope there will always be places to drive ourselves.</p>
</article>