
<!-- portfolio page  -->
<!-- title of the content -->
<h2>PORTFOLIO</h2>
<!-- list of portfolio pieces -->
<ul class="snipets">
    <li>
        <figure>
            <!-- image -->
            <img src="img/illustration.jpg" alt="illustration">
            <!--caption -->
            <figcaption>Illustrations</figcaption>
        </figure>
    </li>
    <li>
        <figure>
             <!-- image -->
           <img src="img/design.jpg" alt="advertising">
             <!--caption -->
            <figcaption>Advertising</figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <!-- image -->
            <img src="img/layout.jpg" alt="layout design">
            <!-- caption -->
            <figcaption>Layout Design</figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <!-- image -->
            <img src="img/logo.jpg" alt="logo">
            <!-- caption -->
            <figcaption>Logo</figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <!-- image -->
            <img src="img/packaging.jpg" alt="glass packaging">
            <!-- caption -->
            <figcaption>Packaging Design</figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <!-- image -->
            <img src="img/website.jpg" alt="image-placeholder">
            <!-- caption -->
            <figcaption>Website</figcaption>
        </figure>
    </li>
</ul>